* {
    box-sizing: border-box;
}

body {
    background-color: rgba(149, 159, 168, 0.774);
}

h1 {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: rgb(37, 64, 65); 
}

a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(37, 64, 65);    
}

img {
    max-width: 90%;
    height: auto;
    opacity: 0.7;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding:20px;
}

.column img:hover {
    opacity: 1;
}

 /* create 4 coloms */

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin: 5px;
    vertical-align: middle;
}

/*responsive layout - 2 columns*/

@media (max-width: 700px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* 2 columns in 1*/

@media (max-width: 500px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


